<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'CommunicateI2CWithArduino' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>ee73c5ee-7714-4335-a243-d9a2a004721d</InstrumentationKey>
</ApplicationInsights>