<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'W10DesktopApp' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>4255007e-d7c4-447f-b194-9f164ca2dd19</InstrumentationKey>
</ApplicationInsights>